{% extends "news_app/base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}

<div class="row row-cols-3">
    {% for news_item in news_item_list %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ news_item.heading }}</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <div class="news-card-footer-container">
                    <a class="fill-remain" href="{{ news_item.link_to_source }}" target="_blank">Read more</a>
                    <div class="news-user-feedback">
                        <a class="feedback-positive" href="#">👍</a>
                        <a class="feedback-negative" href="#">👎</a>
                    </div>
                </div>
                <input type="hidden" class="hdn-news-id" value="{{ news_item.news_id }}">
            </div>
            <div class="news-category">
                <span class="fill-remain">{{ news_item.category }}</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}